body {
    background-color: rgb(147, 147, 153);
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(0,0,0, 0.4);
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
}

.card-image {
    display: none;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

}
/* #progress-bar {
    height: 12px;
    border-radius: 16px;
    background-color: orange;
    width: calc();
    text-align: center;
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: bolder;
} */

#end-screen h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* generische Klassen */
.width-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}

/* bootstrap classes */
.bg-success, .bg-danger {
    color: white;
}

.progress-bar {
    border-radius: 0 0 0.25rem 0.25rem;
}