body {
    background-color: rgb(162, 162, 175);
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

.menu-icon {
    cursor:pointer;
    width: 32px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;

    display:none;
}

.sidebar{
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 280px;
    background-color: rgb(37, 37, 88);
    transition: all 0.33s ease-in-out;
    z-index: 1;
}

.nav-logo {
    text-align: center;
    margin: 2rem 0 0.5rem 0;
    transition: all 225ms ease-in-out;
}

.logo-icon {
    height: 5rem;
    margin-bottom: 1rem;
}

.nav-link {
    margin: 1rem;
}

.nav-footer {
    color: rgb(117, 118, 121);
    font-size: 0.8rem;
    margin: 1rem;
    text-align: center;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid rgb(0,0,0, 0.4); */
    padding-top: 12px;
}

.quiz-card {
    width: 50vw;
    padding: 1rem;
    margin: 0 4rem;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px grey;
    background-color: rgb(220, 224, 226);
    transition: all 225ms linear;
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
}

.card-img-top {
    display: none;
}

.answer-card:not(.bg-red, .bg-green):hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

}

#end-screen h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* generische Klassen */
.width-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}

/* bootstrap classes */
.bg-success, .bg-danger {
    color: white;
}

.progress-bar {
    border-radius: 0 0 0.25rem 0.25rem;
}

.bg-wrong-answer{
    background-color: rgb(201, 129, 129);
}

.bg-right-answer{
    background-color: rgb(134, 184, 134);
}

.prevent-click {
    pointer-events: none;
}

.d-none {
    display: none;
}


/* media queries */

@media(max-width: 800px) {

    .menu-icon {
        display: block;
    }

    .sidebar {
        position: absolute;
        width: 100vw;
        transform: translateX(-100%);
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .quiz-card {
        width: 100vw;
        margin: 1rem 1rem;
    }


}

@media(max-width: 480px) {
    .quiz-card {
        position: absolute;
        width:100vw;
        height: 100vh;
        padding-top: 4rem;
    }

    .menu-icon {
       width: 24px;
    }

    .question-footer {
        flex-direction: column-reverse;
        gap: 1rem;
        margin-top: 1rem;
    }
}