body {
    background-color: rgb(162, 162, 175);
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

.sidebar{
    height: 100vh;
    width: 280px;
    background-color: rgb(37, 37, 88);
}

.nav-logo {
    text-align: center;
    margin: 2rem 0 0.5rem 0;
}

.logo-icon {
    height: 3rem;
}

.nav-link {
    margin: 1rem;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid rgb(0,0,0, 0.4); */
    padding-top: 12px;
}

.quiz-card {
    width: 80vw;
    padding: 1rem;
    margin: 0 4rem;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px grey;
    background-color: rgb(220, 224, 226);
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
}

.card-img-top {
    display: none;
}

.answer-card:not(.bg-red, .bg-green):hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.07);

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

}

#end-screen h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* generische Klassen */
.width-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}

/* bootstrap classes */
.bg-success, .bg-danger {
    color: white;
}

.progress-bar {
    border-radius: 0 0 0.25rem 0.25rem;
}

.bg-red{
    background-color: rgb(201, 129, 129);
}

.bg-green{
    background-color: rgb(134, 184, 134);
}